# Importation of Data

Importing the data is the most important thing. Indeed, bad data could let us make wrong decisions on the strategies to use and thus lose money. We are going to see the finance which will allow us to import the prices of yahoo finance extremely easily. However, this ease has a price. Sometimes the yahoo data is of poor quality on some assets.

It is imparative to verify the trading strategies created by using your broker's data afterwards.

In [ ]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.2.12-py2.py3-none-any.whl (59 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.2/59.2 KB 3.7 MB/s eta 0:00:00
Collecting cryptography>=3.3.2
  Downloading cryptography-39.0.1-cp36-abi3-manylinux_2_28_x86_64.whl (4.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 30.3 MB/s eta 0:00:00
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (110 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 111.0/111.0 KB 7.9 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2022.7.1)
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 KB 9.0 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.2)
Collecting requests>=2.26
  Downloading requests-2.28.2-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 KB 3.7 MB/s eta 0:00:00
Collecting beautifulsoup4>=4.11.1
  Downloading beautifulsoup4-4.11.2-py3-none-any.whl (129 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 129.4/129.4 KB 9.5 MB/s eta 0:00:00
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Collecting soupsieve>1.2
  Downloading soupsieve-2.4-py3-none-any.whl (37 kB)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Installing collected packages: soupsieve, requests, html5lib, frozendict, cryptography, beautifulsoup4, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.25.1
    Uninstalling requests-2.25.1:
      Successfully uninstalled requests-2.25.1
  Attempting uninstall: html5lib
    Found existing installation: html5lib 1.0.1
    Uninstalling html5lib-1.0.1:
      Successfully uninstalled html5lib-1.0.1
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
Successfully installed beautifulsoup4-4.11.2 cryptography-39.0.1 frozendict-2.3.4 html5lib-1.1 requests-2.28.2 soupsieve-2.4 yfinance-0.2.12

# Section 1: Yahoo finance library

In [ ]:
import yfinance as yf

In [ ]:
# Most simple importation
ticker_list = ['GOOG']

yf.download(ticker_list)

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2004-08-19   2.490664   2.591785   2.390042   2.499133   2.499133  897427216
2004-08-20   2.515820   2.716817   2.503118   2.697639   2.697639  458857488
2004-08-23   2.758411   2.826406   2.716070   2.724787   2.724787  366857939
2004-08-24   2.770615   2.779581   2.579581   2.611960   2.611960  306396159
2004-08-25   2.614201   2.689918   2.587302   2.640104   2.640104  184645512
...               ...        ...        ...        ...        ...        ...
2023-02-10  95.739998  97.019997  94.529999  94.860001  94.860001   49269900
2023-02-13  95.010002  95.349998  94.050003  95.000000  95.000000   43116600
2023-02-14  94.660004  95.175003  92.650002  94.949997  94.949997   42513100
2023-02-15  94.739998  97.339996  94.360001  97.099998  97.099998   37029900
2023-02-16  95.540001  97.879997  94.970001  95.779999  95.779999   35586200

[4657 rows x 6 columns]

In [ ]:
# Most simple importation
ticker_list = ['GOOG', "EURUSD=X"]

yf.download(ticker_list)

[*********************100%***********************]  2 of 2 completed

           Adj Close                Close                 High             \
            EURUSD=X       GOOG  EURUSD=X       GOOG  EURUSD=X       GOOG
Date
2003-12-01  1.196501        NaN  1.196501        NaN  1.204007        NaN
2003-12-02  1.208897        NaN  1.208897        NaN  1.210903        NaN
2003-12-03  1.212298        NaN  1.212298        NaN  1.213003        NaN
2003-12-04  1.208094        NaN  1.208094        NaN  1.214403        NaN
2003-12-05  1.218695        NaN  1.218695        NaN  1.219096        NaN
...              ...        ...       ...        ...       ...        ...
2023-02-13  1.067771  95.000000  1.067771  95.000000  1.072501  95.349998
2023-02-14  1.073042  94.949997  1.073042  94.949997  1.079844  95.175003
2023-02-15  1.073572  97.099998  1.073572  97.099998  1.074460  97.339996
2023-02-16  1.069176  95.779999  1.069176  95.779999  1.072225  97.879997
2023-02-17  1.065757        NaN  1.065757        NaN  1.067806        NaN

                 Low                 Open              Volume
            EURUSD=X       GOOG  EURUSD=X       GOOG EURUSD=X        GOOG
Date
2003-12-01  1.194401        NaN  1.203398        NaN      0.0         NaN
2003-12-02  1.194600        NaN  1.196101        NaN      0.0         NaN
2003-12-03  1.207700        NaN  1.209000        NaN      0.0         NaN
2003-12-04  1.204398        NaN  1.212004        NaN      0.0         NaN
2003-12-05  1.206593        NaN  1.207802        NaN      0.0         NaN
...              ...        ...       ...        ...      ...         ...
2023-02-13  1.065723  94.050003  1.067771  95.010002      0.0  43116600.0
2023-02-14  1.070996  92.650002  1.073042  94.660004      0.0  42513100.0
2023-02-15  1.066598  94.360001  1.073572  94.739998      0.0  37029900.0
2023-02-16  1.065575  94.970001  1.069176  95.540001      0.0  35586200.0
2023-02-17  1.063377        NaN  1.067350        NaN      0.0         NaN

[5015 rows x 12 columns]

In [ ]:
# Personalize data range
yf.download(ticker_list, start = '2000-01-01', end = "2010-01-01")

[*********************100%***********************]  2 of 2 completed

           Adj Close                Close                 High             \
            EURUSD=X       GOOG  EURUSD=X       GOOG  EURUSD=X       GOOG
Date
2003-12-01  1.196501        NaN  1.196501        NaN  1.204007        NaN
2003-12-02  1.208897        NaN  1.208897        NaN  1.210903        NaN
2003-12-03  1.212298        NaN  1.212298        NaN  1.213003        NaN
2003-12-04  1.208094        NaN  1.208094        NaN  1.214403        NaN
2003-12-05  1.218695        NaN  1.218695        NaN  1.219096        NaN
...              ...        ...       ...        ...       ...        ...
2009-12-25  1.439906        NaN  1.439906        NaN  1.443793        NaN
2009-12-28  1.437505  15.513601  1.437505  15.513601  1.441504  15.591310
2009-12-29  1.434309  15.427175  1.434309  15.427175  1.445609  15.562667
2009-12-30  1.434206  15.510114  1.434206  15.510114  1.436204  15.510114
2009-12-31  1.432706  15.441621  1.432706  15.441621  1.443897  15.576615

                 Low                 Open              Volume
            EURUSD=X       GOOG  EURUSD=X       GOOG EURUSD=X        GOOG
Date
2003-12-01  1.194401        NaN  1.203398        NaN      0.0         NaN
2003-12-02  1.194600        NaN  1.196101        NaN      0.0         NaN
2003-12-03  1.207700        NaN  1.209000        NaN      0.0         NaN
2003-12-04  1.204398        NaN  1.212004        NaN      0.0         NaN
2003-12-05  1.206593        NaN  1.207802        NaN      0.0         NaN
...              ...        ...       ...        ...      ...         ...
2009-12-25  1.436307        NaN  1.438497        NaN      0.0         NaN
2009-12-28  1.435627  15.404261  1.437484  15.483464      0.0  68170566.0
2009-12-29  1.433897  15.399529  1.437505  15.560177      0.0  57205620.0
2009-12-30  1.427796  15.392555  1.434803  15.404759      0.0  58843737.0
2009-12-31  1.431045  15.441621  1.434206  15.560426      0.0  48974884.0

[1589 rows x 12 columns]

In [ ]:
# Personalize data interval
yf.download(ticker_list, interval = "1mo")

[*********************100%***********************]  2 of 2 completed

           Adj Close                 Close                  High              \
            EURUSD=X        GOOG  EURUSD=X        GOOG  EURUSD=X        GOOG
Date
2003-12-01  1.259002         NaN  1.259002         NaN  1.267202         NaN
2004-01-01  1.245206         NaN  1.245206         NaN  1.289707         NaN
2004-02-01  1.253007         NaN  1.253007         NaN  1.292207         NaN
2004-03-01  1.231300         NaN  1.231300         NaN  1.254107         NaN
2004-04-01  1.198294         NaN  1.198294         NaN  1.238497         NaN
...              ...         ...       ...         ...       ...         ...
2022-10-01  0.995500   94.660004  0.995500   94.660004  1.009489  105.099998
2022-11-01  1.032450  101.449997  1.032450  101.449997  1.049670  101.449997
2022-12-01  1.072846   88.730003  1.072846   88.730003  1.072846  102.589996
2023-01-01  1.085069   99.870003  1.085069   99.870003  1.093255  101.580002
2023-02-01  1.065757   95.779999  1.065757   95.779999  1.102657  108.820000

                 Low                 Open               Volume
            EURUSD=X       GOOG  EURUSD=X        GOOG EURUSD=X         GOOG
Date
2003-12-01  1.194401        NaN  1.203398         NaN        0          NaN
2004-01-01  1.215407        NaN  1.259002         NaN        0          NaN
2004-02-01  1.238099        NaN  1.245206         NaN        0          NaN
2004-03-01  1.206505        NaN  1.253903         NaN        0          NaN
2004-04-01  1.176498        NaN  1.231194         NaN        0          NaN
...              ...        ...       ...         ...      ...          ...
2022-10-01  0.963595  91.900002  0.980488   97.220001        0  584537500.0
2022-11-01  0.973122  83.449997  0.988631   95.589996        0  603449000.0
2022-12-01  1.039793  86.370003  1.042535  101.400002        0  498574400.0
2023-01-01  1.048526  85.570000  1.072846   89.830002        0  526053900.0
2023-02-01  1.063377  92.650002  1.086095   99.739998        0  583635306.0

[231 rows x 12 columns]